Repository VirtusLab/akka-serialization-helper, pull requests merged in 2021-07, with the labels that each got.

#60 Disabled -Xfatal-warnings outside of CI
  build.sbt
Labels: build

#58 Tidy up serializer comparison table in README.md
  README.md
Labels: docs

#65 Fixed dump-event-schema-compiler-plugin non-reproducible builds
  .circleci/config.yml
  build.sbt
  project/build.properties
  sbt-dump-event-schema/src/sbt-test/sbt-dumpschema/simple/build.sbt
  sbt-dump-event-schema/src/sbt-test/sbt-dumpschema/simple/project/build.properties
  sbt-dump-event-schema/src/sbt-test/sbt-dumpschema/simple/test
Labels: bug, build
