Repository VirtusLab/akka-serialization-helper, pull requests merged in 2022-08, with the labels that each got.

#212 Created an example app
  .github/workflows/standard-workflow.yml
  .scala-steward.conf
  CONTRIBUTING.md
  README.md
  docs/GUIDE.md
  examples/akka-cluster-app/.scalafix.conf
  examples/akka-cluster-app/.scalafmt.conf
  examples/akka-cluster-app/build.sbt
  examples/akka-cluster-app/project/build.properties
  examples/akka-cluster-app/project/plugins.sbt
  examples/akka-cluster-app/src/main/resources/application.conf
  examples/akka-cluster-app/src/main/resources/example.conf
  examples/akka-cluster-app/src/main/resources/logback.xml
  examples/akka-cluster-app/src/main/scala/org/virtuslab/example/App.scala
  examples/akka-cluster-app/src/main/scala/org/virtuslab/example/CirceAkkaSerializable.scala
  examples/akka-cluster-app/src/main/scala/org/virtuslab/example/ExampleSerializer.scala
  examples/akka-cluster-app/src/main/scala/org/virtuslab/example/StatsClient.scala
  examples/akka-cluster-app/src/main/scala/org/virtuslab/example/StatsService.scala
  examples/akka-cluster-app/src/main/scala/org/virtuslab/example/StatsWorker.scala
  examples/event-migration/.scalafix.conf
  examples/event-migration/.scalafmt.conf
  examples/event-migration/build.sbt
  examples/event-migration/project/plugins.sbt
  examples/event-migration/src/test/scala/org/virtuslab/example/BorerMigrationExamples.scala
  examples/event-migration/src/test/scala/org/virtuslab/example/CirceMigrationExamples.scala
  pre-commit
Labels: feature, docs

#218 Handle possible OverlappingFileLockExceptions for cache file
  codec-registration-checker-compiler-plugin/src/main/scala/org/virtuslab/ash/CodecRegistrationCheckerCompilerPlugin.scala
  docs/GUIDE.md
Labels: bug, soundness

#222 Added dump persistence schema example app
  .github/workflows/standard-workflow.yml
  .scala-steward.conf
  CONTRIBUTING.md
  README.md
  circe-akka-serializer/src/main/scala/org/virtuslab/ash/circe/AkkaCodecs.scala
  docs/GUIDE.md
  examples/akka-cluster-app/README.md
  examples/akka-cluster-app/src/main/scala/org/virtuslab/example/App.scala
  examples/akka-persistence-app/.scalafix.conf
  examples/akka-persistence-app/.scalafmt.conf
  examples/akka-persistence-app/README.md
  examples/akka-persistence-app/build.sbt
  examples/akka-persistence-app/ddl-scripts/create_tables.sql
  examples/akka-persistence-app/docker-compose.yml
  examples/akka-persistence-app/project/build.properties
  examples/akka-persistence-app/project/plugins.sbt
  examples/akka-persistence-app/src/main/protobuf/ShoppingCartService.proto
  examples/akka-persistence-app/src/main/resources/application.conf
  examples/akka-persistence-app/src/main/resources/cluster.conf
  examples/akka-persistence-app/src/main/resources/grpc.conf
  examples/akka-persistence-app/src/main/resources/local-shared.conf
  examples/akka-persistence-app/src/main/resources/local1.conf
  examples/akka-persistence-app/src/main/resources/local2.conf
  examples/akka-persistence-app/src/main/resources/logback.xml
  examples/akka-persistence-app/src/main/resources/persistence.conf
  examples/akka-persistence-app/src/main/resources/serialization.conf
  examples/akka-persistence-app/src/main/scala/org.virtuslab/example/CirceAkkaSerializable.scala
  examples/akka-persistence-app/src/main/scala/org.virtuslab/example/ExampleSerializer.scala
  examples/akka-persistence-app/src/main/scala/org.virtuslab/example/Main.scala
  examples/akka-persistence-app/src/main/scala/org.virtuslab/example/ShoppingCart.scala
  examples/akka-persistence-app/src/main/scala/org.virtuslab/example/ShoppingCartServer.scala
  examples/akka-persistence-app/src/main/scala/org.virtuslab/example/ShoppingCartServiceImpl.scala
  examples/akka-persistence-app/src/main/scala/org.virtuslab/example/repository/ScalikeJdbcSession.scala
  examples/akka-persistence-app/src/main/scala/org.virtuslab/example/repository/ScalikeJdbcSetup.scala
  examples/akka-persistence-app/src/test/resources/logback-test.xml
  examples/akka-persistence-app/src/test/resources/persistence-test.conf
  examples/akka-persistence-app/src/test/scala/org.virtuslab/example/ShoppingCartSpec.scala
  pre-commit
Labels: code quality, docs

#235 Pin slf4j libs at 1.x
  .scala-steward.conf
Labels: library-update
